.TodoForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 245px;
  margin: 0 auto;
  position: relative;
}

.TodoForm input {
  background: none;
  border:none;
  height: 40px;
  padding: 0 10px;
  margin: 10px auto;
  outline: none;
  border-bottom: .5px solid #838383;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  opacity: .7;
  transition: .3s all ease-in-out;
}

.TodoForm input:focus {
  border-color: #fff;
  opacity:1;
}

.TodoForm input:hover {
  border-color: #fff;
  opacity:1;
}

.TodoForm input::placeholder {
  transition: .3s all ease-in-out;
  width: 100%;
  color:#838383;
  font-size: 20px;
  letter-spacing: 3px;
}

.TodoForm input:hover::placeholder {
  color: #fff;
  opacity:1;
}

.TodoForm input:focus::placeholder {
  color: #fff;
  opacity:1;
}

.TodoForm button {
  padding: 5px;
  background:none;
  outline: none;
  cursor: pointer;
  border:none;
  position: absolute;
  left: 295px;
}

.TodoForm i {
  font-size: 24px;
  color: #54b954;
}